@media (min-width:768px){

    .checkout-mob{
        display: none;
    }

    .checkout-desk{
        display: block;
    }


    #logo-div > a > img {
        max-width: 170px;
    }
    .nav-mobile{
        display: none;
    }
    .hide-desk{
        display: none;
    }
    .ver-texto-compartir{
        margin-right: 15px;
    }
    .ver-precio{
        font-size: 24px;
        color: #0068b3;
        padding: 5px 0;
        font-weight: bold;
    }
    .aside-mapa{
        background-color: #0b4066;
        height: 266px;
    }
    #contacto a{
        font-size: 10px;
    }

    .nav-mobile{
        display: none;
    }
    .mySlides{
         /* height: 700px!important;  */
    }
    .mySlides > .container > .row{
        height: 75%;
    }
    #div-mapa{
        display: block;
    }
    #div-mapa2{
        display: none;
    }
    .hide-desk{
        display: none;
    }
    .wa-compartir{
        display: none;
    }


}
